---
layout: null
---
@mixin prefix($prop, $value) {
  -webkit-#{$prop}: $value;
  -moz-#{$prop}: $value;
  -ms-#{$prop}: $value;
  -o-#{$prop}: $value;
  $prop: $value;
}

@mixin vertical-align() {
   position: absolute;
   top: 50%;
   @include prefix(transform, translateY(-50%));
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", serif;
  line-height: 1.5em;
}

main {
  max-width: 600px;
  margin: 4em auto;
}

a {
  color: inherit;
  @include prefix(transition, 0.5s ease-out background);
  &:hover {
    color: white;
    background-color: black;
  }
}

::selection {
  background-color: rgb(225,225,225);
}

h1, h2 {
  font-weight: normal;
  font-style: italic;
}

h1 {
  font-size: 4rem;
  line-height: 3rem;
}

h2 {
  font-size: 3rem;
  line-height: 2rem;
}

img {
  width: 100%;
}

ul {
  list-style: circle;
}

code {
  font-size: 1.2em
}

.frame {
  margin-bottom: 4rem;
}

.marquee {
  position: absolute;
  top: 45%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%));
  #logo { width: 400px; }
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    li {
      display: inline;
      padding-left: 1em;
    }
  }
}

.project {
  margin-top: 2em;
  margin-bottom: 6em;
}


.video {
  position: relative;
  padding-bottom: 9 / 16 * 100%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
